<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootdemo.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.example.springbootdemo.entity.Area" >
    <id column="id" property="id" jdbcType="NVARCHAR" />
    <result column="parent_id" property="parent_id" jdbcType="NVARCHAR" />
    <result column="parent_ids" property="parent_ids" jdbcType="NVARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="sort" property="sort" jdbcType="DECIMAL" />
    <result column="code" property="code" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="NCHAR" />
    <result column="create_by" property="create_by" jdbcType="NVARCHAR" />
    <result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
    <result column="update_by" property="update_by" jdbcType="NVARCHAR" />
    <result column="update_date" property="update_date" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="NVARCHAR" />
    <result column="del_flag" property="del_flag" jdbcType="NCHAR" />
    <result column="parent_names" property="parent_names" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, parent_ids, name, sort, code, type, create_by, create_date, update_by, 
    update_date, remarks, del_flag, parent_names
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_area
    where id = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_area
    where id = #{id,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.springbootdemo.entity.Area" >
    insert into sys_area (id, parent_id, parent_ids, 
      name, sort, code, 
      type, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, parent_names)
    values (#{id,jdbcType=NVARCHAR}, #{parent_id,jdbcType=NVARCHAR}, #{parent_ids,jdbcType=NVARCHAR}, 
      #{name,jdbcType=NVARCHAR}, #{sort,jdbcType=DECIMAL}, #{code,jdbcType=NVARCHAR}, 
      #{type,jdbcType=NCHAR}, #{create_by,jdbcType=NVARCHAR}, #{create_date,jdbcType=TIMESTAMP}, 
      #{update_by,jdbcType=NVARCHAR}, #{update_date,jdbcType=TIMESTAMP}, #{remarks,jdbcType=NVARCHAR}, 
      #{del_flag,jdbcType=NCHAR}, #{parent_names,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootdemo.entity.Area" >
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parent_id != null" >
        parent_id,
      </if>
      <if test="parent_ids != null" >
        parent_ids,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="create_by != null" >
        create_by,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="update_by != null" >
        update_by,
      </if>
      <if test="update_date != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="del_flag != null" >
        del_flag,
      </if>
      <if test="parent_names != null" >
        parent_names,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="parent_id != null" >
        #{parent_id,jdbcType=NVARCHAR},
      </if>
      <if test="parent_ids != null" >
        #{parent_ids,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NCHAR},
      </if>
      <if test="create_by != null" >
        #{create_by,jdbcType=NVARCHAR},
      </if>
      <if test="create_date != null" >
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null" >
        #{update_by,jdbcType=NVARCHAR},
      </if>
      <if test="update_date != null" >
        #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=NVARCHAR},
      </if>
      <if test="del_flag != null" >
        #{del_flag,jdbcType=NCHAR},
      </if>
      <if test="parent_names != null" >
        #{parent_names,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootdemo.entity.Area" >
    update sys_area
    <set >
      <if test="parent_id != null" >
        parent_id = #{parent_id,jdbcType=NVARCHAR},
      </if>
      <if test="parent_ids != null" >
        parent_ids = #{parent_ids,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=NCHAR},
      </if>
      <if test="create_by != null" >
        create_by = #{create_by,jdbcType=NVARCHAR},
      </if>
      <if test="create_date != null" >
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null" >
        update_by = #{update_by,jdbcType=NVARCHAR},
      </if>
      <if test="update_date != null" >
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=NVARCHAR},
      </if>
      <if test="del_flag != null" >
        del_flag = #{del_flag,jdbcType=NCHAR},
      </if>
      <if test="parent_names != null" >
        parent_names = #{parent_names,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootdemo.entity.Area" >
    update sys_area
    set parent_id = #{parent_id,jdbcType=NVARCHAR},
      parent_ids = #{parent_ids,jdbcType=NVARCHAR},
      name = #{name,jdbcType=NVARCHAR},
      sort = #{sort,jdbcType=DECIMAL},
      code = #{code,jdbcType=NVARCHAR},
      type = #{type,jdbcType=NCHAR},
      create_by = #{create_by,jdbcType=NVARCHAR},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=NVARCHAR},
      update_date = #{update_date,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=NVARCHAR},
      del_flag = #{del_flag,jdbcType=NCHAR},
      parent_names = #{parent_names,jdbcType=VARCHAR}
    where id = #{id,jdbcType=NVARCHAR}
  </update>
</mapper>